* {
    box-sizing: border-box;
}

/* CSS variables for light transitions */
:root {
    --base-light: 36%;
}

.simon-btn {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.btn-red {
    background-color: hsla(0, 100%, var(--base-light), 1);
}

.btn-blue {
    background-color: blue;
}

.btn-green {
    background-color: green;
}

.btn-yellow {
    background-color: yellow;
}

.btn-pushed {
    border: 7px solid black;
    box-shadow: 0px 0px 4px black;

    /* background-color: hsla(0, 100%, var(--base-light * 2), 1); */

    transition: all 0.3s;
}