* {
    box-sizing: border-box;
}

.simon-btn {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.btn-red {
    background-color: red;
}

.btn-blue {
    background-color: blue;
}

.btn-green {
    background-color: green;
}

.btn-yellow {
    background-color: yellow;
}

.btn-pushed {
    border: 7px solid black;
    box-shadow: 0px 0px 4px black;
    transition: all 0.3s;
}